**<center>[mlcourse.ai](https://mlcourse.ai) – Open Machine Learning Course** </center><br>

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.


**Same assignment as a [Kaggle Kernel](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset) + [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution).**

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of features (for more information please see the link above):
- `age`: continuous;
- `workclass`: `Private`, `Self-emp-not-inc`, `Self-emp-inc`, `Federal-gov`, `Local-gov`, `State-gov`, `Without-pay`, `Never-worked`;
- `fnlwgt`: continuous;
- `education`: `Bachelors`, `Some-college`, `11th`, `HS-grad`, `Prof-school`, `Assoc-acdm`, `Assoc-voc`, `9th`, `7th-8th`, `12th`, `Masters`, `1st-4th`, `10th`, `Doctorate`, `5th-6th`, `Preschool`;
- `education-num`: continuous;
- `marital-status`: `Married-civ-spouse`, `Divorced`, `Never-married`, `Separated`, `Widowed`, `Married-spouse-absent`, `Married-AF-spouse`,
- `occupation`: `Tech-support`, `Craft-repair`, `Other-service`, `Sales`, `Exec-managerial`, `Prof-specialty`, `Handlers-cleaners`, `Machine-op-inspct`, `Adm-clerical`, `Farming-fishing`, `Transport-moving`, `Priv-house-serv`, `Protective-serv`, `Armed-Forces`;
- `relationship`: `Wife`, `Own-child`, `Husband`, `Not-in-family`, `Other-relative`, `Unmarried`;
- `race`: `White`, `Asian-Pac-Islander`, `Amer-Indian-Eskimo`, `Other`, `Black`;
- `sex`: `Female`, `Male`;
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: `United-States`, `Cambodia`, `England`, `Puerto-Rico`, `Canada`, `Germany`, `Outlying-US(Guam-USVI-etc)`, `India`, `Japan`, `Greece`, `South`, `China`, `Cuba`, `Iran`, `Honduras`, `Philippines`, `Italy`, `Poland`, `Jamaica`, `Vietnam`, `Mexico`, `Portugal`, `Ireland`, `France`, `Dominican-Republic`, `Laos`, `Ecuador`, `Taiwan`, `Haiti`, `Columbia`, `Hungary`, `Guatemala`, `Nicaragua`, `Scotland`, `Thailand`, `Yugoslavia`, `El-Salvador`, `Trinadad&Tobago`, `Peru`, `Hong`, `Holand-Netherlands`;
- `salary`: `>50K`, `<=50K`.

In [1]:
import numpy as np
import pandas as pd

pd.set_option("display.max.columns", 100)
# to draw pictures in jupyter notebook
%matplotlib inline
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings

import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

# for display 2 decimal places:
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
# for Jupyter-book, we copy data from GitHub, locally, to save Internet traffic,
# you can specify the data/ folder from the root of your cloned
# https://github.com/Yorko/mlcourse.ai repo, to save Internet traffic
DATA_URL = "https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/"

In [3]:
data = pd.read_csv(DATA_URL + "adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [4]:
data.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [5]:
data[data.sex == 'Female'].age.mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [21]:
(data['native-country'].value_counts(normalize=True)['Germany'] * 100).round(2)

0.42

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year?**

In [7]:
data.salary.unique()

array(['<=50K', '>50K'], dtype=object)

In [8]:
data[data.salary == '>50K'].age.describe()[['mean', 'std']]

mean   44.25
std    10.52
Name: age, dtype: float64

In [9]:
data[data.salary == '<=50K'].age.describe()[['mean', 'std']]

mean   36.78
std    14.02
Name: age, dtype: float64

**6. Is it true that people who earn more than 50K have at least high school education? (*education* – `Bachelors`, `Prof-school`, `Assoc-acdm`, `Assoc-voc`, `Masters` or `Doctorate` feature)**

In [10]:
data[data.salary == '>50K'].education.unique() # obviosly false

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of `Amer-Indian-Eskimo` race.**

In [11]:
data.groupby(['race', 'sex']).describe() # 82

                                age                                            \
                              count  mean   std   min   25%   50%   75%   max
race               sex
Amer-Indian-Eskimo Female    119.00 37.12 13.11 17.00 27.00 36.00 46.00 80.00
                   Male      192.00 37.21 12.05 17.00 28.00 35.00 45.00 82.00
Asian-Pac-Islander Female    346.00 35.09 12.30 17.00 25.00 33.00 43.75 75.00
                   Male      693.00 39.07 12.88 18.00 29.00 37.00 46.00 90.00
Black              Female  1,555.00 37.85 12.64 17.00 28.00 37.00 46.00 90.00
                   Male    1,569.00 37.68 12.88 17.00 27.00 36.00 46.00 90.00
Other              Female    109.00 31.68 11.63 17.00 23.00 29.00 39.00 74.00
                   Male      162.00 34.65 11.36 17.00 26.00 32.00 42.00 77.00
White              Female  8,642.00 36.81 14.33 17.00 25.00 35.00 46.00 90.00
                   Male   19,174.00 39.65 13.44 17.00 29.00 38.00 49.00 90.00

                             fnlwgt                                  \
                              count       mean        std       min
race               sex
Amer-Indian-Eskimo Female    119.00 112,950.73  93,207.97 12,285.00
                   Male      192.00 125,715.36  85,063.25 13,769.00
Asian-Pac-Islander Female    346.00 147,452.08  76,401.63 19,914.00
                   Male      693.00 166,175.87  88,552.95 14,878.00
Black              Female  1,555.00 212,971.39 109,971.26 19,752.00
                   Male    1,569.00 242,920.64 134,145.97 21,856.00
Other              Female    109.00 172,519.64  77,766.67 24,562.00
                   Male      162.00 213,679.10  92,187.36 25,610.00
White              Female  8,642.00 183,549.97 101,710.29 19,395.00
                   Male   19,174.00 188,987.39 103,714.60 18,827.00

                                                                         \
                                 25%        50%        75%          max
race               sex
Amer-Indian-Eskimo Female  31,387.00  87,950.00 163,027.50   445,168.00
                   Male    48,197.75 113,091.00 182,656.00   356,015.00
Asian-Pac-Islander Female  86,879.25 131,986.00 175,705.75   379,046.00
                   Male    98,350.00 147,719.00 200,117.00   506,329.00
Black              Female 142,666.50 193,553.00 253,759.00   930,948.00
                   Male   156,410.00 221,196.00 298,601.00 1,268,339.00
Other              Female 119,890.00 171,199.00 219,441.00   388,741.00
                   Male   150,726.75 208,516.50 253,334.75   481,175.00
White              Female 115,914.75 175,810.50 224,836.50 1,484,705.00
                   Male   117,381.00 178,662.50 236,858.75 1,455,435.00

                          education-num                                   \
                                  count  mean  std  min  25%   50%   75%
race               sex
Amer-Indian-Eskimo Female        119.00  9.70 2.33 2.00 9.00 10.00 11.00
                   Male          192.00  9.07 2.27 2.00 9.00  9.00 10.00
Asian-Pac-Islander Female        346.00 10.39 2.80 1.00 9.00 10.00 13.00
                   Male          693.00 11.25 2.78 1.00 9.00 11.00 13.00
Black              Female      1,555.00  9.55 2.21 1.00 9.00  9.00 10.00
                   Male        1,569.00  9.42 2.38 1.00 9.00  9.00 10.00
Other              Female        109.00  8.90 3.03 2.00 7.00  9.00 10.00
                   Male          162.00  8.80 3.36 1.00 8.00  9.00 10.00
White              Female      8,642.00 10.13 2.37 1.00 9.00 10.00 12.00
                   Male       19,174.00 10.14 2.66 1.00 9.00 10.00 13.00

                                capital-gain                               \
                            max        count     mean       std  min  25%
race               sex
Amer-Indian-Eskimo Female 16.00       119.00   544.61  2,451.59 0.00 0.00
                   Male   16.00       192.00   675.26  2,929.75 0.00 0.00
Asian-Pac-Islander Female 15.00       346.00   778.44  7,675.23 0.00 0.00
                   Male   16.00       693.00 1,827.81 10,947.53 0.00 0.00
Black              Female 16.00     1,555.00   516.59  5,312.75 0.00 0.00
                   Male   16.00     1,569.00   702.45  4,962.11 0.00 0.00
Other              Female 14.00       109.00   254.67  1,317.33 0.00 0.00
                   Male   16.00       162.00 1,392.19 11,093.71 0.00 0.00
White              Female 16.00     8,642.00   573.61  4,763.13 0.00 0.00
                   Male   16.00    19,174.00 1,368.67  8,442.83 0.00 0.00

                                              capital-loss                     \
                           50%  75%       max        count   mean    std  min
race               sex
Amer-Indian-Eskimo Female 0.00 0.00 15,024.00       119.00  14.46 157.76 0.00
                   Male   0.00 0.00 27,828.00       192.00  46.40 286.56 0.00
Asian-Pac-Islander Female 0.00 0.00 99,999.00       346.00  50.85 296.53 0.00
                   Male   0.00 0.00 99,999.00       693.00 120.37 472.92 0.00
Black              Female 0.00 0.00 99,999.00     1,555.00  45.45 299.10 0.00
                   Male   0.00 0.00 99,999.00     1,569.00  75.19 370.98 0.00
Other              Female 0.00 0.00  7,688.00       109.00  36.28 231.80 0.00
                   Male   0.00 0.00 99,999.00       162.00  77.75 370.99 0.00
White              Female 0.00 0.00 99,999.00     8,642.00  65.39 352.33 0.00
                   Male   0.00 0.00 99,999.00    19,174.00 102.26 434.16 0.00

                                                  hours-per-week              \
                           25%  50%  75%      max          count  mean   std
race               sex
Amer-Indian-Eskimo Female 0.00 0.00 0.00 1,721.00         119.00 36.58 11.05
                   Male   0.00 0.00 0.00 1,980.00         192.00 42.20 11.60
Asian-Pac-Islander Female 0.00 0.00 0.00 2,258.00         346.00 37.44 12.48
                   Male   0.00 0.00 0.00 2,457.00         693.00 41.47 12.39
Black              Female 0.00 0.00 0.00 4,356.00       1,555.00 36.83  9.42
                   Male   0.00 0.00 0.00 2,824.00       1,569.00 40.00 10.91
Other              Female 0.00 0.00 0.00 1,740.00         109.00 35.93 10.30
                   Male   0.00 0.00 0.00 2,179.00         162.00 41.85 11.08
White              Female 0.00 0.00 0.00 4,356.00       8,642.00 36.30 12.19
                   Male   0.00 0.00 0.00 3,770.00      19,174.00 42.67 12.19


                           min   25%   50%   75%   max
race               sex
Amer-Indian-Eskimo Female 4.00 35.00 40.00 40.00 84.00
                   Male   3.00 40.00 40.00 45.00 84.00
Asian-Pac-Islander Female 1.00 35.00 40.00 40.00 99.00
                   Male   1.00 40.00 40.00 45.00 99.00
Black              Female 2.00 35.00 40.00 40.00 99.00
                   Male   1.00 40.00 40.00 40.00 99.00
Other              Female 6.00 30.00 40.00 40.00 65.00
                   Male   5.00 40.00 40.00 40.00 98.00
White              Female 1.00 30.00 40.00 40.00 99.00
                   Male   1.00 40.00 40.00 50.00 99.00

**8. Among whom is the proportion of those who earn a lot (`>50K`) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (`Married-civ-spouse`, `Married-spouse-absent` or `Married-AF-spouse`), the rest are considered bachelors.**

In [12]:
data['married'] = data['marital-status'].apply(lambda x: x.startswith('Married'))

In [13]:
data[data.married == 1].salary.value_counts(normalize=True) # for married

<=50K   0.56
>50K    0.44
Name: salary, dtype: float64

In [14]:
data[data.married == 0].salary.value_counts(normalize=True) # for not married

<=50K   0.94
>50K    0.06
Name: salary, dtype: float64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (`>50K`) among them?**

In [15]:
maximum = data['hours-per-week'].max()
maximum

99

In [16]:
count = len(data[data['hours-per-week'] == maximum])
count

85

In [17]:
data[data['hours-per-week'] == maximum].salary.value_counts(normalize=True)

<=50K   0.71
>50K    0.29
Name: salary, dtype: float64

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [18]:
data.groupby(['native-country', 'salary'], as_index=False) \
    .agg({'hours-per-week': np.mean}).query('`native-country` == "Japan"')

   native-country salary  hours-per-week
47          Japan  <=50K           41.00
48          Japan   >50K           47.96

# 10/10